@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: white;
  color: #111827;
  overflow-x: hidden;
}

::selection{
  background: #2563eb;
  color: white;
}

button{
  cursor: pointer;
}